/* Стили для секции "Обо мне" */
.about-content .about-section .about-content-list {
    list-style-type: disc; /* Буллеты с точками для секции "Обо мне" */
    padding-left: 1.2rem;
    margin-top: 1rem;
}

.about-content .about-content-list li {
    margin-bottom: 0.5rem;
}

/* Стили для секции "Навыки" */
.skills-content .skills-section ul {
    list-style: none; /* Убираем стандартные буллеты */
    padding: 0;
}

.skills-content .skills-section ul li {
    position: relative;
    padding-left: 20px; /* Отступ для треугольного буллета */
    margin-bottom: 10px;
}

.skills-content .skills-section ul li::before {
    content: "▹"; /* Треугольный буллет */
    color: var(--primary-color); /* Цвет треугольника */
    position: absolute;
    left: 0;
}
