/* Переопределение стилей для списка в секции "Обо мне" */
#about-me .about-content-list li {
    display: list-item !important; /* Включаем отображение как список */
    text-align: left !important; /* Устанавливаем выравнивание по левому краю */
    list-style-type: disc !important; /* Устанавливаем маркеры */
    unicode-bidi: normal !important; /* Сбрасываем свойства bidirectional */
    padding-left: 20px !important; /* Добавляем отступ */
    margin-bottom: 5px; /* Добавляем небольшое расстояние между элементами списка */
    column-count: 1 !important; /* Принудительно устанавливаем один столбец */
}


/* Секция "Навыки" — отображение в два столбца */
.skills-section .row {
    display: flex;
}

.skills-section .col-6 {
    padding: 0 15px;
}

.skills-section ul {
    column-count: 2; /* Две колонки */
    -webkit-column-count: 2;
    -moz-column-count: 2;
    list-style-type: disc;
    padding-left: 20px;
}

/* Общее правило для списков в секциях */
#single .page-content ul {
    list-style-position: outside;
    padding-left: 1.5em;
}
